@charset "utf-8";


html {
    height: 100%;
}

body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 750px;
    /*禁用手机浏览器的用户选择功能 */
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;
    font-family: 'Heiti SC';
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    /*iphone6的情况下 font-size 是20px */
    font-size: 14px; 
    overflow: hidden;
}

ul,
ol {
    list-style-type: none;
}

#demo{
    width: 18.75rem;
    height: 33.375rem;  
} 
 
 
 
 

 